---
import Layout from "@/layouts/Layout.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

import SubtitleItem from "@/components/legalNotice/SubtitleItem.astro";
import DescriptionItem from "@/components/legalNotice/DescriptionItem.astro";

const H1_STYLES =
  "mx-auto mt-16 mb-4 text-wrap text-4xl font-semibold tracking-wide uppercase";
---

<Layout
  title=`${i18n.SEO.LEGAL_NOTICE_TITLE} ${new Date().getFullYear()}`
  description={i18n.SEO.LEGAL_NOTICE_DESCRIPTION}
>
  <link
    rel="preload"
    href="/fonts/jura.woff2"
    as="font"
    type="font/woff2"
    crossorigin
    slot="preload"
  />
  <main>
    <section
      class="max-w-5xl mx-auto my-24 text-pretty px-6 text-left text-lg leading-relaxed sm:px-20"
    >
      <h1 class={H1_STYLES}>
        {i18n.LEGAL_NOTICE.TITLE}
      </h1>

      <!-- Access and use -->
      <SubtitleItem subtitle={i18n.LEGAL_NOTICE.ACCESS_AND_USE.TITLE} />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.ACCESS_AND_USE.DESCRIPTION_1}
      />

      <!-- Ownership and contact data -->
      <SubtitleItem
        subtitle={i18n.LEGAL_NOTICE.OWNERSHIP_AND_CONTACT_DATA.TITLE}
      />
      <DescriptionItem
        description={i18n.LEGAL_NOTICE.OWNERSHIP_AND_CONTACT_DATA.DESCRIPTION_1}
      />

      <!-- Purpose and content website -->
      <SubtitleItem
        subtitle={i18n.LEGAL_NOTICE.PURPOSE_AND_CONTENT_WEBSITE.TITLE}
      />
    </section>
  </main>
</Layout>
